Wats poppin Chica?!!<br>
It sure looks like a hot fresh brewing <%= @resource.resource_type %> was added by <%= @creator %><br>
<br>
Be the first one to finish it 
<a href="https://my-academia.herokuapp.com/discuss/<%= @resource.class.name.underscore %>/<%= @resource.id %>/">
  here
</a><br>
<br>
Keep grinding, keep growing 🚀<br>
~ @alwayswannaly<br>
