.puzzles {
  &__evaluation {
    margin-bottom: 1rem;
  }

  &__header {
    margin-top: 0;

    @include tablet {
      margin-bottom: 0;
      margin-bottom: 0.5rem;
    }
  }

  &__body {
    @include flex-row;

    flex-wrap: wrap;
  }

  &__chip {
    margin: 0.25rem;
  }
}
