@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin flex-centre {
  align-items: center;
  justify-content: center;
}

.column {
  @include flex-col;
}

.row {
  @include flex-row;
}

.space-between {
  justify-content: space-between;
}

.p-20 {
  padding: 2rem;
}

.p-10 {
  padding: 1rem;
}

.p-h-20 {
  padding: 0 2rem;
}

.m-20 {
  margin: 2rem;
}

.m-t-20 {
  margin-top: 2rem;
}

.m-t-10 {
  margin-top: 1rem;
}

.m-b-20 {
  margin-bottom: 2rem;
}

.container {
  padding: 0 2rem;

  @include mobile {
    padding: 0 1rem;
  }
}
