body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  margin: 0;
}

html, body, #react-root {
  width: 100%;
  height: 100%;
  background-color: #161a23;
  color: #ffffff;
}

#react-root {
  display: flex;
  flex-direction: column;
}

// utils
@import 'utils';

// libraries

// pages
@import 'pages';
